.section {
    background-color: white;
}

.section__title {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 2px solid white;
}

.header {
    font-size: 35px;
    margin-left: 15px;
}

.section__header {
    padding: 20px;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
}

.section__title {
    font-size: 25px;
    margin-left: 20px;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.header--caret {
    caret-color: transparent;
}

.buttons {
    font-size: 17px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.buttons__button {
    border: none;
    background-color: white;
    margin: 15px;
    color: hsl(180, 100%, 25%);
}